.body {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 100px;
    margin-bottom: 100px;
    color: #242424;
}

.section {
    border: 1px solid #DDD;
    padding: 16px;
    border-radius: 6px;
}

.language-menu {
    text-align: right;
}

p {
    margin: 0px;
}

* + p {
    margin: 1.25em 0px 0px;
}

.help {
    color: #444444;
    font-size: 16px;
    text-align: justify;
    text-justify: inter-word;
    font-style: italic;
    text-indent: 15px;
}

.no-border {
    border: none;
}

.section + .section {
    margin-top: 15px;
}

.main-title {
    background: transparent url("../img/logo.png") no-repeat left / 54px;
    text-indent: 64px;
}

.section h3 {
    border-bottom: solid 1px #ddd;
    padding-bottom: 4px;
}

a {
    color: black;
    font-family: arial;
    text-decoration: underline;
}

.loader {
    margin: 1.60em 0px 0px;
}
